* {
  box-sizing:border-box;
}

body {
  background: #17002f;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 704px;
  height: 502px;
  margin: 0 auto;
  outline: 1px solid #fff;

  transform: scale(1.2) translateY(20%);
}

.game-container canvas {
  image-rendering: pixelated;
}